# Assignment 2: **Machine learning with tree based models**

In this assignment, you will work on the **Titanic** dataset and use machine learning to create a model that predicts which passengers survived the **Titanic** shipwreck.

---
## About the dataset:
---
* The column named  `Survived` is the label and the remaining columns are features. 
* The features can be described as given below:
  <table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Definition </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>pclass</td>
      <td>Ticket class	</td>
    </tr>
    <tr>
      <td>SibSp</td>
      <td>Number of siblings / spouses aboard the Titanic</td>
    </tr>
    <tr>
      <td>Parch</td>
      <td>Number of parents / children aboard the Titanic</td>
    </tr>
    <tr>
      <td>Ticket</td>
      <td>Ticket number</td>
    </tr>
    <tr>
      <td>Embarked</td>
      <td>Port of Embarkation: C = Cherbourg, Q = Queenstown, S = Southampton</td>
    </tr>
  </tbody>
</table>

---
## Instructions
---
* Apply suitable data pre-processing techniques, if needed. 
* Implement a few classifiers to create your model and compare the performance metrics by plotting the curves like roc_auc, confusion matrix, etc.

In [0]:
import pandas as pd

In [70]:
titanic_data = pd.read_csv('titanic.csv')
titanic_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [71]:
titanic_data.shape

(891, 12)

In [72]:
print(titanic_data.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [73]:
X1=titanic_data.Embarked.dropna()
#titanic_data.shape
X1.reset_index(drop=True)

0      S
1      C
2      S
3      S
4      S
      ..
884    S
885    S
886    S
887    C
888    Q
Name: Embarked, Length: 889, dtype: object

In [0]:
m1=titanic_data.Age.mean()
#m2=titanic_data.Cabin.mean()
titanic_data.Age=titanic_data.Age.fillna(m1)
#Cabin=titanic_data.Cabin.fillna(m2)

In [0]:
titanic_data.Sex = pd.get_dummies(titanic_data.Sex)
#titanic_data.head()
#titanic_data.shape

In [76]:
X = titanic_data.drop(['Name','Ticket','Survived','PassengerId'],axis=1)
y = titanic_data(['Survived'])

TypeError: ignored